@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --sixty-color-white-mode: #8d7b68;
  --thirty-color-white-mode: #a4907c;
  --ten-color-white-mode: #f1dec9;
  --sixty-color-dark-mode: #0b2447;
  --thirty-color-dark-mode: #19376d;
  --ten-color-dark-mode: #a5d7e8;
  --navbar-background-white-mode: #8d7b686a;
  --navbar-background-dark-mode: #0b24477d;
}

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--sixty-color-white-mode);
  color: #ededed;

  &.dark-mode {
    background: var(--sixty-color-dark-mode);
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: var(--navbar-background-white-mode);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  .dark-mode & {
    background: var(--navbar-background-dark-mode);
  }
}

.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 45px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
}

.navbar a:hover,
.navbar a.active {
  color: var(--ten-color-white-mode);

  .dark-mode & {
    color: var(--ten-color-dark-mode);
  }
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  color: var(--ten-color-white-mode);

  .dark-mode & {
    color: var(--ten-color-dark-mode);
  }
}

.home-content p {
  font-size: 16px;
  margin: 20px 0 40px;
}

.home-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.home-art {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-end;
  margin-left: 195px;
  margin-bottom: 100px;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: var(--ten-color-white-mode);
  border: 2px solid var(--ten-color-white-mode);
  border-radius: 8px;
  font-size: 19px;
  color: var(--sixty-color-white-mode);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;

  .dark-mode & {
    background: var(--ten-color-dark-mode);
    border: 2px solid var(--ten-color-dark-mode);
    color: var(--sixty-color-dark-mode);
  }
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: var(--ten-color-white-mode);

  .dark-mode & {
    color: var(--ten-color-dark-mode);
  }
}

.btn-box a:nth-child(1):hover {
  color: var(--ten-color-white-mode);

  .dark-mode & {
    color: var(--ten-color-dark-mode);
  }
}

.btn-box a:nth-child(2):hover {
  color: var(--sixty-color-white-mode);

  .dark-mode & {
    color: var(--sixty-color-dark-mode);
  }
}

.btn-box a:nth-child(2)::before {
  background-color: var(--ten-color-white-mode);

  .dark-mode & {
    background-color: var(--ten-color-dark-mode);
  }
}

.btn-box a::before {
  content: "";
  position: absolute;
  background: var(--sixty-color-white-mode);
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 0.5s;

  .dark-mode & {
    background: var(--sixty-color-dark-mode);
  }
}

.btn-box a:hover:before {
  width: 100%;
}

.home-sci {
  margin-top: 80px;
  bottom: 40px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--ten-color-white-mode);
  border-radius: 50%;
  font-size: 20px;
  color: var(--ten-color-white-mode);
  text-decoration: none;
  z-index: 1;
  overflow: hidden;

  .dark-mode & {
    border: 2px solid var(--ten-color-dark-mode);
    color: var(--ten-color-dark-mode);
  }
}

.home-sci a:hover {
  color: var(--sixty-color-white-mode);

  .dark-mode & {
    color: var(--sixty-color-dark-mode);
  }
}

.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--ten-color-white-mode);
  z-index: -1;
  transition: 0.5s;

  .dark-mode & {
    background: var(--ten-color-dark-mode);
  }
}

.home-sci a:hover:before {
  width: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: #888;
}

.switch input:checked + .slider:before {
  background-color: #444;
}

.portifolio {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 0 10%;
  flex-wrap: wrap;
}

.portifolio h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 100px;
}

.portifolio-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
  max-width: 100%;
}

.portifolio-content a {
  text-decoration: none;
}

.portifolio .portifolio-content {
  justify-content: flex-start;
  align-items: flex-start;
}

.portifolio-content .portifolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 0.5rem;
  border-color: var(--thirty-color-dark-mode);
  overflow: hidden;
  display: flex;

  .dark-mode & {
    border-color: var(--thirty-color-white-mode);
  }
}

.portifolio-box img {
  width: 100%;
  height: 300px;
  transition: 0.5s ease;
}

.portifolio-box:hover img {
  transform: scale(1.1);
  transition: 0.5s ease;
}

.portifolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#8d7b6855, var(--sixty-color-white-mode));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2rem;
  transform: translateY(100%);
  transition: 0.5s ease;

  .dark-mode & {
    background: linear-gradient(#a5d7e86b, var(--ten-color-dark-mode));
  }
}

.portifolio-box:hover .portfolio-layer {
  transform: translateY(0);
  transition: 0.5s ease;
}

.portfolio-layer h4 {
  font-size: 3rem;
  text-align: center;
  color: #ededed;

  .dark-mode & {
    color: var(--sixty-color-dark-mode);
  }
}

.portfolio-layer p {
  font-size: 1.2rem;
  margin: 2rem 0 1rem;
  color: #ededed;

  .dark-mode & {
    color: var(--sixty-color-dark-mode);
  }
  text-align: center;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: #ededed;
  border-radius: 50%;
  text-decoration: none;
}

.portfolio-layer a i {
  font-size: 2rem;
  color: var(--thirty-color-white-mode);

  .dark-mode & {
    color: var(--thirty-color-dark-mode);
  }
}
